{% extends 'App/base.html' %}
{% load static %}
{% block Title %}
    Лекции
{% endblock %}
{% block Content %}
<style>
audio{
    position: relative;
    width: 220px;
    padding-bottom: 5%;
    float: bottom;
}
</style>
<p></p>
<div class="card-deck">
  <div class="card text-white" style="background: #1861e0">
    <img src="{% static 'App/images/forumroma.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Лекция 1: "Древний Рим"</h5>
      <p class="card-text">Какое-то краткое описание</p>
      <div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Слушать
  </button>
  <div class="dropdown-menu">
    <audio controls>
    <source src="{% static 'App/audios/one.mp3' %}" type="audio/mpeg">
        </audio>
  </div>
</div>
    </div>
  </div>
  <div class="card text-white" style="background: #1861e0">
    <img src="{% static 'App/images/greece.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Лекция 2: "Древняя Греция"</h5>
      <p class="card-text">Какое-то краткое описание</p>
        <div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Слушать
  </button>
  <div class="dropdown-menu">
    <audio controls>
    <source src="{% static 'App/audios/one.mp3' %}" type="audio/mpeg">
        </audio>
  </div>
</div>
    </div>
  </div>
  <div class="card text-white" style="background: #1861e0">
    <img src="{% static 'App/images/mone.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Лекция 3: "История импрессионизма"</h5>
      <p class="card-text">Какое-то краткое описание</p>
              <div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Слушать
  </button>
  <div class="dropdown-menu">
    <audio controls>
    <source src="{% static 'App/audios/one.mp3' %}" type="audio/mpeg">
        </audio>
  </div>
</div>
    </div>
  </div>
</div>
<p></p>
<div class="card-deck">
  <div class="card text-white" style="background: #1861e0">
    <img src="{% static 'App/images/lg.svg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Лекция 4: "Просто лекция"</h5>
      <p class="card-text">Какое-то краткое описание</p>
              <div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Слушать
  </button>
  <div class="dropdown-menu">
    <audio controls>
    <source src="{% static 'App/audios/one.mp3' %}" type="audio/mpeg">
        </audio>
  </div>
</div>
    </div>
  </div>
  <div class="card text-white" style="background: #1861e0">
    <img src="{% static 'App/images/pechorin.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Лекция 5: "Другой взгляд на Печорина"</h5>
      <p class="card-text">Какое-то краткое описание</p>
              <div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Слушать
  </button>
  <div class="dropdown-menu">
    <audio controls>
    <source src="{% static 'App/audios/two.mp3' %}" type="audio/mpeg">
        </audio>
  </div>
</div>
    </div>
  </div>
  <div class="card text-white" style="background: #1861e0">
    <img src="{% static 'App/images/pushkin.jpg' %}"  class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Лекция 6: "О русской литературе XIX века" </h5>
      <p class="card-text">Какое-то краткое описание.</p>
              <div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Слушать
  </button>
  <div class="dropdown-menu">
    <audio controls>
    <source src="{% static 'App/audios/three.mp3' %}" type="audio/mpeg">
        </audio>
  </div>
</div>
    </div>
  </div>
</div>
{% endblock %}