{% extends 'App/base.html' %}
{% load crispy_forms_tags %}
{% block Title %}
    Отзывы
{% endblock %}

{% block Content %}
<style>
table{
  font-family: sans-serif; /* Рубленый шрифт */
  font-size: 15pt;
}
.feedback{
    color: rgba(255, 255, 255, 0.54);
}
td{
    padding: 10px;
}
</style>
    <div class="row justify-content-center">
    <table  style="background: #1861e0; border-radius: 7px" ;>
        <td>
        <p>
            <span class="feedback"> Пожалуйста, оставьте свой отзыв, расскажите, что бы вы еще хотели видеть на этом сайте</span>
            </p>

        <form method="POST" class="post-form", style="color: #ffffff">
            {% csrf_token %}
            {{ task_form|crispy }}
            <button type="submit" class="btn btn-info">Отправить</button>
        </form>
        </td>
    </tr>
    </table>
    </div>
{% endblock %}